.card {
    width: 200px;
    margin: 0;
    background-color: #181818;
    border-radius: 8px;
    overflow: hidden;
    color: #fff;
    transition: transform 0.05s ease-in-out;
    flex-shrink: 0;
}

.card:hover {
    transform: scale(1.05);
    filter: saturate(125%) contrast(125%);

}

.poster {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 2/3;
    object-fit: cover;
}

.title {
    font-size: 1rem;
    padding: 0.75rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}